/* "<div id='line' style='height:" + length + "px;
top:" + (ay) + "px;left:" + (ax) + "px;transform:rotate(" + calc + "deg);-ms-transform:rotate(" + calc + "deg);
transform-origin:0% 0%;-moz-transform:rotate(" + calc + "deg);
-webkit-transform:rotate(" + calc + "deg);
-o-transform:rotate(" + calc + "deg);'></div>" */

.line {
	width: 1px;
	background-color: white;
	position: absolute;
	transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
}