.adjust-button {
	--button-color: var(--color-bg);

	float: left;
	width: 50px;
	padding: 10px 15px;
	height: 50px;
	position: absolute;
	top: 40px;
	right: 0;
	background: var(--button-color);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.452));
	transform: translateX(70px);
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.65, 1.68);
}

.adjust-button:before,
.adjust-button:after {
	content: "";
	position: absolute;
	/* height: 10px;
	width: 10px; */
	bottom: 0;
	background: radial-gradient(circle at top left, rgba(255, 13, 13, 0) 72%, var(--button-color) 75%);
}

.adjust-button:after {
	right: 0;
	top: 100%;
	background: radial-gradient(circle at bottom left, rgba(243, 16, 16, 0) 70%, var(--button-color) 75%);
}

.adjust-button:before {
	bottom: 100%;
	right: 0;
}

#gear {
	color: var(--color-light);
	background-color: transparent;
	transition: var(--transition);
	rotate: 360;
}

#gear:hover {
	color: var(--color-white);
	transform: rotate(90deg);
}

.my-slide-pane__overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
}

/* .slide-pane__overlay.overlay-after-open {
	background-color: rgba(0, 0, 0, 0.3);
	transition: background-color 0.5s;
} */

/* .slide-pane {
    display: flex;
    flex-direction: column;
    background: #fff;
    min-width: 100px;
    height: 100%;
    box-shadow: 0 8px 8px rgb(0 0 0 / 50%);
    transition: transform 0.5s;
    will-change: transform;
}

.slide-pane_from_right {
    margin-left: auto;
    transform: translateX(100%);
}

.slide-pane_from_right.content-after-open {
    transform: translateX(0%);
}

.my-slide-pane {
	background-color: red;
	right: 0;
	margin: 0;
	height: 100vh;
	position: absolute;
	box-shadow: -0.3em 0 .4em rgba(0, 0, 0, 0.521);
} */








