.App {
	height: 100vh;
	/* cursor: none; */
}

#circle {
	position: absolute;
	transform: translate(-50%, -50%);
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: rgb(251, 255, 0);
}

.glowy {
	background-color: #fff;
	box-shadow:
		/* in order: x offset, y offset, blur size, spread size, color */
		/* blur size and spread size are optional (they default to 0) */
		0 0 20px 10px rgb(193, 196, 0)
		/* inner white */
		, 0 0 50px 10px rgb(107, 195, 0)
		/* middle magenta */
		/* ,0 0 140px 90px #0ff */
		/* outer cyan */

		/* , inset 60px 0 120px #f0f */
		/* left magenta */
		/* , inset -60px 0 120px #0ff */
		/* right cyan */
}

.target-in-center {
	/* border: 1px solid yellow; */
	background-color: rgba(255, 255, 255, 0.301);
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	/* animation: 0.5s 4s forwards ease-in target-appear; */
	transition: var(--transition);
}

/* @keyframes target-appear {
	to {
		opacity: 1;
	}
}

.inactive {
	background-color: transparent;
} */